.cardsWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding-top: 100px;
    gap: 20px;

}