.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 53px 153px 53px 153px;
    background-color: var(--color-black);
    gap: 2rem;

}

.heroContent {
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 50%;
    
    
}

.heroContentImage {
    position: relative;
    
}

.box {
    width: 438px;
}

.inputBox {
    width: 438px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    border-radius: 43px; 
}

.inputBox input {
    font-weight: 500px;
    line-height: 26px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-black);
    width: 100%;
    padding-left: 20px;
}

.inputBox input:focus {
    outline: none;
}


